In [5]:
import pandas as pd
import random

In [14]:
data = pd.read_csv('/content/120days.csv')

In [15]:
data

       01/10/2022 00:00  4581.220
0      01/10/2022 00:05   4553.49
1      01/10/2022 00:10   4533.33
2      01/10/2022 00:15   4507.54
3      01/10/2022 00:20   4489.97
4      01/10/2022 00:25   4466.93
...                 ...       ...
35025  30/03/2023 23:20   2353.00
35026  30/03/2023 23:25   2342.45
35027  30/03/2023 23:30   2347.89
35028  30/03/2023 23:35   2333.57
35029  30/03/2023 23:40   2308.27

[35030 rows x 2 columns]

In [16]:
headers = data.columns

In [ ]:
type(head)

In [26]:
date = headers[0]
value = headers[1]

In [27]:
data.rename(columns = {'01/10/2022 00:00':'datetime', '4581.220': 'load'}, inplace = True)

In [28]:
data

               datetime     load
0      01/10/2022 00:05  4553.49
1      01/10/2022 00:10  4533.33
2      01/10/2022 00:15  4507.54
3      01/10/2022 00:20  4489.97
4      01/10/2022 00:25  4466.93
...                 ...      ...
35025  30/03/2023 23:20  2353.00
35026  30/03/2023 23:25  2342.45
35027  30/03/2023 23:30  2347.89
35028  30/03/2023 23:35  2333.57
35029  30/03/2023 23:40  2308.27

[35030 rows x 2 columns]

In [29]:
new_row = pd.DataFrame({'datetime':date, 'load':value}, index =[0])
 
df = pd.concat([new_row, data[:]]).reset_index(drop = True)

In [30]:
df

               datetime      load
0      01/10/2022 00:00  4581.220
1      01/10/2022 00:05   4553.49
2      01/10/2022 00:10   4533.33
3      01/10/2022 00:15   4507.54
4      01/10/2022 00:20   4489.97
...                 ...       ...
35026  30/03/2023 23:20    2353.0
35027  30/03/2023 23:25   2342.45
35028  30/03/2023 23:30   2347.89
35029  30/03/2023 23:35   2333.57
35030  30/03/2023 23:40   2308.27

[35031 rows x 2 columns]

In [31]:
humidity = [ random.randrange(40, 70) for j in range(35031)]
temperature = [ random.randrange(20,34) for j in range(35031)]

In [10]:
humidity

[55,
 67,
 47,
 56,
 40,
 52,
 42,
 42,
 58,
 45,
 66,
 69,
 44,
 51,
 46,
 63,
 61,
 47,
 51,
 45,
 68,
 50,
 58,
 45,
 58,
 52,
 52,
 48,
 42,
 50,
 48,
 43,
 44,
 55,
 54,
 59,
 42,
 45,
 61,
 67,
 58,
 53,
 46,
 55,
 43,
 56,
 52,
 66,
 57,
 41,
 52,
 40,
 46,
 57,
 61,
 68,
 69,
 68,
 40,
 47,
 65,
 43,
 48,
 55,
 53,
 51,
 53,
 57,
 62,
 62,
 46,
 43,
 67,
 42,
 45,
 43,
 62,
 67,
 47,
 49,
 52,
 61,
 52,
 56,
 64,
 60,
 58,
 53,
 67,
 69,
 60,
 63,
 52,
 44,
 59,
 66,
 46,
 69,
 65,
 52,
 52,
 56,
 67,
 53,
 59,
 52,
 68,
 47,
 56,
 63,
 52,
 60,
 48,
 53,
 46,
 69,
 47,
 67,
 69,
 59,
 61,
 45,
 68,
 63,
 48,
 62,
 41,
 49,
 60,
 58,
 42,
 55,
 64,
 41,
 50,
 40,
 50,
 47,
 65,
 63,
 69,
 49,
 48,
 40,
 44,
 45,
 69,
 69,
 45,
 59,
 47,
 58,
 43,
 54,
 58,
 60,
 56,
 59,
 57,
 45,
 68,
 51,
 41,
 47,
 51,
 67,
 46,
 49,
 60,
 62,
 48,
 42,
 42,
 50,
 59,
 51,
 69,
 44,
 57,
 55,
 66,
 43,
 43,
 40,
 64,
 57,
 43,
 49,
 56,
 50,
 61,
 53,
 54,
 64,
 65,
 41,
 56,
 58,
 40,
 68,
 53,
 51,
 63,
 65,
 67,
 58,
 49,
 67,
 42,
 59,
 41,
 61,
 69,
 41,
 55,
 51,
 62,
 60,
 68,
 51,
 40,
 46,
 48,
 41,
 62,
 55,
 68,
 57,
 45,
 63,
 53,
 52,
 69,
 66,
 49,
 59,
 62,
 56,
 64,
 48,
 56,
 64,
 41,
 53,
 55,
 55,
 58,
 64,
 45,
 43,
 63,
 49,
 58,
 41,
 56,
 65,
 52,
 61,
 60,
 53,
 57,
 42,
 56,
 51,
 43,
 66,
 57,
 63,
 65,
 55,
 68,
 67,
 41,
 57,
 56,
 49,
 64,
 57,
 56,
 45,
 64,
 66,
 62,
 68,
 53,
 66,
 42,
 56,
 54,
 63,
 66,
 61,
 46,
 65,
 58,
 57,
 66,
 44,
 63,
 69,
 51,
 41,
 68,
 65,
 67,
 43,
 62,
 55,
 45,
 60,
 40,
 62,
 60,
 62,
 59,
 62,
 47,
 46,
 47,
 56,
 69,
 47,
 62,
 44,
 60,
 62,
 54,
 50,
 48,
 50,
 58,
 46,
 68,
 62,
 67,
 48,
 57,
 41,
 45,
 57,
 51,
 56,
 52,
 48,
 50,
 67,
 59,
 46,
 47,
 46,
 44,
 61,
 52,
 41,
 40,
 64,
 60,
 40,
 57,
 50,
 52,
 43,
 65,
 52,
 48,
 45,
 59,
 46,
 55,
 49,
 64,
 69,
 63,
 52,
 42,
 43,
 64,
 59,
 41,
 67,
 69,
 56,
 48,
 57,
 48,
 42,
 67,
 68,
 40,
 51,
 53,
 43,
 44,
 61,
 41,
 45,
 47,
 59,
 43,
 65,
 69,
 55,
 52,
 54,
 69,
 63,
 53,
 61,
 55,
 54,
 48,
 58,
 69,
 46,
 46,
 65,
 61,
 60,
 57,
 40,
 60,
 67,
 46,
 51,
 42,
 47,
 54,
 49,
 53,
 56,
 67,
 59,
 44,
 46,
 66,
 54,
 64,
 42,
 40,
 58,
 50,
 43,
 43,
 60,
 45,
 56,
 58,
 63,
 63,
 67,
 56,
 49,
 63,
 40,
 58,
 47,
 64,
 58,
 67,
 42,
 63,
 66,
 49,
 41,
 69,
 44,
 48,
 68,
 40,
 46,
 65,
 52,
 55,
 51,
 64,
 52,
 43,
 41,
 69,
 63,
 46,
 49,
 43,
 63,
 57,
 48,
 56,
 43,
 46,
 69,
 52,
 53,
 40,
 42,
 51,
 67,
 47,
 55,
 42,
 50,
 40,
 41,
 56,
 61,
 50,
 55,
 49,
 46,
 55,
 65,
 69,
 54,
 56,
 56,
 45,
 61,
 61,
 61,
 48,
 47,
 47,
 57,
 42,
 40,
 51,
 54,
 66,
 54,
 58,
 46,
 57,
 43,
 43,
 48,
 42,
 41,
 69,
 40,
 62,
 54,
 48,
 65,
 53,
 63,
 46,
 48,
 56,
 44,
 46,
 47,
 43,
 64,
 41,
 50,
 46,
 59,
 53,
 44,
 57,
 51,
 46,
 51,
 63,
 53,
 68,
 50,
 57,
 42,
 69,
 40,
 63,
 56,
 67,
 67,
 52,
 45,
 63,
 50,
 57,
 57,
 62,
 63,
 50,
 40,
 53,
 43,
 44,
 46,
 49,
 45,
 51,
 64,
 55,
 63,
 65,
 47,
 48,
 66,
 67,
 45,
 57,
 60,
 66,
 49,
 51,
 40,
 55,
 61,
 59,
 48,
 64,
 44,
 61,
 66,
 59,
 41,
 65,
 65,
 62,
 58,
 46,
 52,
 48,
 68,
 61,
 65,
 53,
 52,
 47,
 64,
 49,
 61,
 64,
 54,
 68,
 41,
 50,
 48,
 62,
 66,
 57,
 40,
 60,
 67,
 58,
 52,
 54,
 59,
 63,
 65,
 40,
 44,
 56,
 48,
 65,
 49,
 60,
 50,
 49,
 40,
 53,
 44,
 41,
 49,
 45,
 67,
 58,
 45,
 61,
 62,
 48,
 47,
 52,
 62,
 67,
 56,
 63,
 60,
 53,
 67,
 43,
 50,
 56,
 40,
 66,
 63,
 61,
 45,
 52,
 48,
 49,
 42,
 58,
 54,
 41,
 60,
 62,
 45,
 56,
 54,
 56,
 51,
 49,
 46,
 46,
 62,
 55,
 67,
 69,
 51,
 48,
 51,
 64,
 56,
 64,
 60,
 55,
 62,
 40,
 65,
 53,
 42,
 52,
 54,
 62,
 48,
 69,
 41,
 53,
 69,
 40,
 54,
 57,
 40,
 59,
 41,
 50,
 52,
 62,
 50,
 46,
 64,
 65,
 50,
 65,
 56,
 43,
 44,
 61,
 69,
 43,
 59,
 69,
 53,
 68,
 55,
 45,
 62,
 48,
 55,
 57,
 45,
 58,
 57,
 52,
 40,
 58,
 57,
 48,
 65,
 50,
 65,
 44,
 42,
 56,
 50,
 66,
 41,
 56,
 62,
 49,
 52,
 63,
 65,
 49,
 60,
 54,
 42,
 50,
 49,
 62,
 41,
 40,
 40,
 47,
 58,
 42,
 64,
 60,
 46,
 47,
 47,
 44,
 45,
 59,
 69,
 58,
 48,
 60,
 47,
 44,
 47,
 48,
 40,
 68,
 49,
 61,
 58,
 61,
 58,
 69,
 59,
 48,
 56,
 66,
 56,
 50,
 66,
 69,
 68,
 63,
 55,
 68,
 62,
 44,
 68,
 42,
 43,
 63,
 58,
 67,
 49,
 62,
 49,
 55,
 49,
 44,
 56,
 69,
 53,
 56,
 47,
 45,
 65,
 47,
 41,
 57,
 56,
 53,
 43,
 53,
 42,
 51,
 50,
 51,
 65,
 41,
 49,
 60,
 61,
 46,
 62,
 56,
 64,
 65,
 45,
 67,
 41,
 45,
 59,
 41,
 41,
 62,
 48,
 40,
 46,
 49,
 52,
 58,
 52,
 63,
 62,
 40,
 58,
 50,
 51,
 55,
 44,
 41,
 41,
 41,
 66,
 54,
 62,
 48,
 45,
 45,
 46,
 47,
 45,
 57,
 66,
 47,
 59,
 51,
 52,
 52,
 55,
 42,
 44,
 42,
 48,
 57,
 43,
 67,
 47,
 62,
 47,
 47,
 50,
 46,
 58,
 56,
 61,
 44,
 46,
 52,
 59,
 69,
 56,
 61,
 55,
 49,
 56,
 48,
 61,
 57,
 55,
 66,
 58,
 69,
 43,
 62,
 40,
 66,
 69,
 52,
 62,
 59,
 48,
 53,
 59,
 47,
 40,
 57,
 68,
 69,
 47,
 52,
 66,
 57,
 68,
 51,
 48,
 47,
 40,
 41,
 54,
 54,
 62,
 43,
 63,
 57,
 60,
 67,
 56,
 44,
 69,
 60,
 49,
 43,
 52,
 63,
 51,
 64,
 55,
 40,
 42,
 54,
 67,
 ...]

In [33]:
df['humidity'] = humidity
df['temperature'] = temperature

In [35]:
df.to_csv('concatdataset.csv', index=False)

In [37]:
df

               datetime      load  humidity  temperature
0      01/10/2022 00:00  4581.220        46           24
1      01/10/2022 00:05   4553.49        49           22
2      01/10/2022 00:10   4533.33        44           24
3      01/10/2022 00:15   4507.54        60           27
4      01/10/2022 00:20   4489.97        43           20
...                 ...       ...       ...          ...
35026  30/03/2023 23:20    2353.0        42           23
35027  30/03/2023 23:25   2342.45        45           30
35028  30/03/2023 23:30   2347.89        60           30
35029  30/03/2023 23:35   2333.57        65           23
35030  30/03/2023 23:40   2308.27        53           28

[35031 rows x 4 columns]